{% extends "base.twig" %}

{% block title %} Ошибка {% endblock %}

{% block content %}
    <h1>Бубчи, что-то пошло не так. Если ничего не понимаешь - перешли мне:</h1>
    <p>{{ errorMessage|raw }}</p>
{% endblock %}