{% extends "base.twig" %}

{% block title %} Bubch-helper {% endblock %}

{% block content %}
    <div class="container">
        <section class="main-form">
            <h1 class="display-1">Сайт помощи Любчам &#128036;</h1>
            <div class="row justify-content-center">
                <form class="col-lg-9" method="post" action="/results">
                    <p class="main-form__description">
                        Любчи, чтобы помочь себе - напишите ссылки, с которых нужно собрать посты, в форму ниже.
                        Каждая новая ссылка - с новой строки
                    </p>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="7" name="links"></textarea>
                    <input class="main-form__button btn btn-success" type="submit" value="Получить помощь &#128579;">
                </form>
            </div>
        </section>
    </div>
{% endblock %}