{% extends "base.twig" %}

{% block title %} Bubch-helper {% endblock %}

{% block content %}
    <section class="main-form">
        <h1 class="display-1">Сайт помощи Любчам &#128036;</h1>
        <div class="row justify-content-center">
            <form class="col-lg-9" method="post" action="/results">
                <p class="main-form__description">
                    Любчи, чтобы помочь себе - напишите ссылки, с которых нужно собрать посты, в форму ниже.
                    Каждая новая ссылка - с новой строки
                </p>
                <textarea class="form-control" rows="7" name="links"></textarea>
                <label>
                    Кол-во постов
                    <select class="form-select" name="posts_number">
                        <option selected value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="миллион">миллион</option>
                    </select>
                </label><br>
                <label>
                    Токен (обновляется 1 раз в 24 часа)<br>
                    <input type="text" size="80" class="form-text main-form__token">
                </label>
                <input class="main-form__button btn btn-success" type="submit" value="Получить помощь 🐶">
            </form>
        </div>
    </section>
{% endblock %}