{% extends "base.twig" %}

{% block title %} Bubch-helper {% endblock %}
{% block content %}
    <section class="results">
        <table class="table results_table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Дата/время</th>
                <th scope="col">Текст</th>
                <th scope="col">Картинка</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr><td colspan="4">Название группы</td></tr>
                {% for item in post.response.items %}
                    <tr>
                        <td></td>
                        <td>{{ item.date|date("m/d/Y/ H:i:s", "Europe/Samara") }}</td>
                        <td>{{ item.text }}</td>
                        <td>{{ item.attachments[0]['type'] }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}