{% extends "base.twig" %}

{% block title %} Bubch-helper {% endblock %}
{% block content %}
    <section class="results">
        <table class="table results__table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Дата/время</th>
                <th scope="col">Текст</th>
                <th scope="col">Смайликов:</th>
                <th scope="col">Хэштеги:</th>
            </tr>
            </thead>
            <tbody>
            {% for groupName, groupData in groupsData %}
                <tr>
                    <td colspan="4" class="results__group-name display-3">{{ groupName }}</td>
                </tr>
                {% for post in groupData %}
                    <tr>
                        <td></td>
                        <td>{{ post.date|date("m/d/Y/ H:i:s", "Europe/Samara") }}</td>
                        <td>
                            {% for image in post.images %}
                                <img src="{{ image }}">
                            {% endfor %}
                            <p class="results__text">{{ post.text }}</p>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}