.main-form h1 {
    margin-bottom: 30px;

    text-align: center;
    font-size: 88px;
}

.main-form__description {
    font-size: 20px;
    text-align: center;
}

.main-form__button {
    display: block;
    margin: auto;
    margin-top: 10px;
}

.results__group-name {
    text-align: center;
}