<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/bootstrap.min.css"/>
        <link rel="stylesheet" href="css/style.css"/>
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
<div class="container">
    <a href="/"><h1 class="display-1">Сайт помощи Любчам &#128036;</h1></a>
    <main>
        {% block content %}{% endblock %}
    </main>
</div>
<script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>