<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <link rel="stylesheet" href="../public/css/style.css"/>
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>